<!DOCTYPE html>
<html lang="en">

<head>
  <title >UVA Book Bazaar</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href=>UVA BookBazaar</a>
			<button class="navbar-toggler" type="button" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="index.html">Home</a>
						<a class="nav-item nav-link" href="customer_service.html">Customer Service</a>
						<a class="nav-item nav-link" href="new_listing.html">Post Textbook</a>
						<a class="nav-item nav-link" href="profile.html">Profile</a>
						<a class="nav-item nav-link" href="single_listing.html">Listings</a>
					</div>
				</div>
				<div class="nav navbar-nav justify-content-end">
					<a class="nav-item nav-link" href="{% url 'social:begin' 'google-oauth2' %}">Login</a>
					<a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
				</div>
        </nav>
<div class="jumbotron" style="height:700px">
  <div class="container">
    <h1 class="display-3" style="position:relative; left:300px; top:80px" >UVA Book Bazaar</h1>
	<input type="text" style="width:950px; position:relative; left:100px; top:100px" class="form-control col mx-3" placeholder="Title of the Textbook">
   	<a href="listing.html" class="btn btn-info" style="position:relative; left:1070px; top:63px">Search</a>
    <div style="position:relative; left:110px; top:100px; width: 900px; height:300px;
  border: 1px solid grey;
  padding: 50px;
  margin: 20px;">
	<h4 style="position:relative; top:-30px">Tags:</h>
    <input type="text" class="form-control col mx-3" readonly="readonly" style="width:60px; position:absolute; left:60px; top:0px"value="New">
    <input type="text" class="form-control col mx-3" readonly="readonly" style="width:90px; position:relative; left:130px; top:-28px"value="Like New">
    <input type="text" class="form-control col mx-3" readonly="readonly" style="width:100px; position:relative; left:230px; top:-66px"value="Very Good">
    <input type="text" class="form-control col mx-3" readonly="readonly" style="width:65px; position:relative; left:340px; top:-104px"value="Good">
    <input type="text" class="form-control col mx-3" readonly="readonly" style="width:50px; position:relative; left:415px; top:-142px"value="Fair">
    <input type="text" class="form-control col mx-3"readonly="readonly"style="width:60px; position:relative; left:475px; top:-180px"value="Poor">


   	<h4 style="position:relative; top:-210px">Title:</h>
   	<input type="text" class="form-control col mx-3" style="width:700px; position:absolute; left:60px; top:0px"placeholder="Enter the title of the textbook">
	<h4 style="position:relative; top:-205px">Author:</h>
   	<input type="text" class="form-control col mx-3" style="width:670px; position:absolute; left:90px; top:0px"placeholder="Enter the Author of the textbook">
	<h4 style="position:relative; top:-200px">Year:</h>
   	<input type="text" class="form-control col mx-3" style="width:700px; position:absolute; left:60px; top:0px"placeholder="Enter the Year the textbook was published">
	<h4 style="position:relative; top:-195px">Class:</h>
   	<input type="text" class="form-control col mx-3" style="width:693px; position:absolute; left:67px; top:0px"placeholder="Enter the Class for the textbook">
	<h4 style="position:relative; top:-190px">ISBN:</h>
   	<input type="text" class="form-control col mx-3" style="width:695px; position:absolute; left:65px; top:0px"placeholder="Enter the textbook ISBN">


	</div>
  </div>
</div>

<div class="container">


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</div>
</body>

<footer class="page-footer font-small bg-secondary text-white p-4 mt-3">
  <div class="container-fluid text-center">
    <i>CS 3205, F19. Team Baboons.</i>
  </div>
</footer>

